csv-upload(
    single-upload-click='addTeacher()',
    massive-upload-click='addTeachers',
    cancel-click='cancel()')

  h3 {{ 'new_teacher' | translate }}

  fieldset.form-group
    input.form-control(ng-model='teacher.first_name', type='text', placeholder='{{ "first_name" | translate }}', autofocus)

  fieldset.form-group
    input.form-control(ng-model='teacher.last_name', type='text', placeholder='{{ "last_name" | translate }}')

  fieldset.form-group
    input.form-control(ng-model='teacher.email', type='text', placeholder='{{ "email" | translate }}')
