
csv-upload(
    single-upload-click='submitStudent()',
    massive-upload-click='addStudents',
    cancel-click='cancelSubmission()',
    is-edit='isEdit')

  h3 {{ titleKey | translate }}

  fieldset.form-group
    input.form-control(ng-model='student.first_name', type='text', placeholder='{{ "first_name" | translate }}', autofocus)

  fieldset.form-group
    input.form-control(ng-model='student.last_name', type='text', placeholder='{{ "last_name" | translate }}')

  fieldset.form-group
    input.form-control(ng-model='student.email', type='text', placeholder='{{ "email" | translate }}', ng-disabled="isEdit")

  fieldset.form-group
    input.form-control(ng-model='student.personal_id', type='text', placeholder='{{ "personal_id_placeholder" | translate }}')
